* {font-family: "Open Sans"}

#titleDiv {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

a {
  margin-top: 20px;
  font-size: 2em;
  text-decoration: none;
}

h1 {
  font-size: 4em;
  color: #08a80b;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 0em;
  margin-top: 0em;
}

p {
  font-size: 1.5em;
  margin-top: 0.2em;
}