body {font-family: Arial, sans-serif;}

p {font-size: 2em;}

.introText {font-size: 1.4em; margin-top: 0px; margin-bottom: 0px;}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;
}

.infoText {
  margin-bottom: 0em;
}

#options {
  position: absolute;
  left: 10px;
}

.option {
  font-size: 1em; 
  border: none; 
  background-color: black; 
  border-radius: 0.3em; 
  color: white; 
  box-shadow: 10px 10px 5px rgba(0, 0,0,0.5);
  padding: 0.3em;
}

#ebolaCanvas {
  font-size: 2em;
  text-align: center;
}