* {font-family: "Open Sans"}

.center {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

a {
  margin-top: 20px;
  font-size: 2em;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 4em;
  color: #08a80b;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  margin-bottom: 0em;
  margin-top: 0em;
}

p {
  font-size: 2em;
  margin-top: 0.2em;
}

button {
  font-size: 1.5em;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.1s;
}

button:hover {
  opacity: 0.8;
  width: 80%;
}

body {
  background-color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
  } 
}